liuxue:
  outputs:
    local:
      type: postgres
      host: localhost
      port: 5432
      user: postgres
      password: <your-password>
      dbname: warehouse
      schema: public
      threads: 2
  target: local
